/*btn submit*/
.but__bt {
    width: 588px;
    height: 54px;
    margin-top: 20px;
    margin-left: 20px;
    & .button {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        background: linear-gradient(0deg, #7910DA, #7910DA), rgba(255, 255, 255, 0.03);
        border: 1px solid rgba(255, 255, 255, 0.09);
        border-radius: 8px;
        color: #CCD2E3;
    }
}

/*responsive mobile*/
@media (max-width: 1280px) {
    .but__bt {
        width: 307px;
    }
}