.programmings {
    padding-top: 140px;
}

.title3 {
    color: #003147;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.programming {
    position: relative;
}

.programming > * {
    display: flex;
    margin-top: 5px;
}

.programming img {
    width: 30px;
    height: 30px;
}

.programming .text {
    color: #333;
    font-weight: 300;
    display: flex;
    align-items: center;
    margin-left: 5px;
}