/*car details style*/
.car__child {
    margin-top: -50px;
    color: teal !important;
}

.stars__color {
    color: teal !important;
}

.col__txt {
    color: teal !important;
}

.text__style {
    color: teal !important;
}